html {
    background-color: #fdfdff;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #00000055, #000000 );
}

body {
    font-family: Arial, sans-serif; 
    text-align: center;
}

menu {
    margin-top: -70px;
    margin-left: -8px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
}

header {
    margin-bottom: -150px;
    background-image: url('https://live.staticflickr.com/65535/51121352493_3e9fe6cb76_h.jpg');
    color: #fff;
    padding: 10px;
}

.titulo {
    text-shadow: 7px 7px 7px whitesmoke;
    color: #333;
    font-size: 3em;
    margin: 70px;
}

.tituloparrafo {
    text-decoration: underline;
    margin-left: 30px;
    color: #333;
    font-size: 2em;
    display: flex;
}

.parrafo {
    text-align: justify;
    margin-left: 25px;
    margin-top: 10px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}

.contenido {
    background-color: #fff;
    margin: 100px auto;
    padding: 20px;
    width: 830px;
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

img {
    width: 400px;
    margin-right: -390px;
    margin-top: -280px;
    margin-bottom: 60px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 110px 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
}