:root {
    --primary-bg: #fdfdff;
    --secondary-bg: #333;
    --text-color: #333;
    --light-text: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg);
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 10px), repeating-linear-gradient(#00000055, #000000);
    color: var(--text-color);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px 5px;
}

nav {
    background-color: var(--secondary-bg);
    color: var(--light-text);
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

.containermenu {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
 }

header {
    background-image: url('https://live.staticflickr.com/65535/51121352493_3e9fe6cb76_h.jpg');
    background-size: cover;
    background-position: center;
    color: var(--light-text);
    padding: 6rem 0 3rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main {
    background-color: var(--light-text);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 4rem;
    flex-grow: 1;
}

.architecture-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.architecture-style h2 {
    width: 100%;
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.architecture-style p {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    flex: 1;
    min-width: 300px;
    margin-right: 2rem;
    text-align: center;
}

.architecture-style img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 110px 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: var(--secondary-bg);
    color: var(--light-text);
    padding: 10px 0;
    margin-top: 20px;
}

footer .container {
    text-align: center;
}

@media (max-width: 768px) {
    .architecture-style {
        flex-direction: column;
    }

    .architecture-style p {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .architecture-style img {
        max-width: 100%;
    }
}
/*Contenido */
footer {   /* Seccion que prorporciona informacion adicional en la parte inferior de la pagina*/
    text-align: center;
    background-color: #010a07;
    color: rgba(249, 247, 247, 0.997);
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}